body {
  background-color: black;
  color: white;
}

.parent {
    display: flex;
    flex-wrap: wrap;
}

.card {
    width: 200px;
    border: 1px solid white ;
    padding: 20px;
    text-align: center;
    border-radius: 10px;
    background-color: #333;
}