/* 

.parent {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
}

.card {
    width: 350px;
    border: 1px solid white ;
    padding: 20px;
    text-align: center;
    border-radius: 10px;
    background-color: #333;
    
}

.card button {
    padding: 10px 20px;
    color: black;
    background-color: white;
    border-radius: 5px;
    border: none;
}

.card p {
    margin: 20px 0;
    text-align: left;   
}

.card img {
    height: 150px;
    width: 150px;
    border-radius: 50%;
    object-fit: cover;
}


input {
 padding: 10px
} */


button {
    padding: 10px 20px;
    margin: 20px;
}

h1 {
background-color: black;
color: whitesmoke;
width: fit-content;
padding: 10px 20px;
border-radius: 5px;
}