body {
  background-color: black;
  color: white;
}

.parent {
    display: flex;
    flex-wrap: wrap;
}

.card {
    width: 200px;
    border: 1px solid white ;
    padding: 20px;
    text-align: center;
    border-radius: 10px;
    background-color: #333;
}

.card button {
    padding: 10px 20px;
    color: black;
    background-color: white;
    border-radius: 5px;
    border: none;
}

.card p {
    margin: 20px 0;
    text-align: left;   
}

.card img {
    height: 100px;
    width: 100px;
    border-radius: 50%;
    object-fit: cover;
}